    <footer class="footer">
        <div class="footer-content-wrapper">
            <div>
                <span>&copy;</span>
                <span class="footer-content" id="date"></span>
                <span class="footer-content"> Khesehang Yonghang</span>
            </div>
        </div>
    </footer>
    <script src="/js/date-converter.js" type="text/javascript"></script>
</body>

</html>