@import url("form.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-font : 'Ubuntu', sans-serif;;
    --header-font-size : 2rem;
}

img {
    width: 100px;
    height: 75px;
    border-radius: 5px;
}

html, body {
    height: 100vh;
}

body {
    font-family: var(--header-font);
    background: rgb(0,169,255);
    background: radial-gradient(circle at 10% 20%, rgb(137, 247, 254) 0%, rgb(102, 166, 255) 90%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;

}

a {
    color: #78C1F3;
    text-decoration: none;
}

h2 {
    font-family: var(--header-font);
}

.approval {
    padding: 0 10px;
    font-size: 1rem;
}

.approval:hover {
    color: #fff;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}

.nav-bar {
    padding: 2% 3%;
    text-align: center;
    color: #fff;
}

.footer {
    background-color: #fff;
    text-align: center; 
    height: 100px;
    width: 100%;
    margin-top: 2%;
    flex-shrink: 0;
}

.footer > * {
    opacity: 0.3;
}

.footer .footer-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
}

.footer-content {
    padding-bottom: 10px;
}

.header {
    color: #000;
    font-family: var(--header-font);
    font-size: var(--header-font-size);
} 


.form-field {
    border-radius: 5px;
}

.first-field{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.last-field {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.remember-me {
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

#remember {
    display: inline-block;
    height: 30px;
    width: auto;
    vertical-align: middle;
}

.btn-primary {
    display: block;
    background: #068FFF;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover{
    background-color: #fff;
    color: #068FFF;
    outline: 2px solid #068FFF;
}

.register {
    margin-top: 5px;
    text-align: center;
}




